name: Build APK

on:
  push:
    branches:
      - principal

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Capacitor CLI
        run: npm install -g @capacitor/cli

      - name: Create Android project
        run: |
          npx cap init jogo-penalti com.joseribas.jogopenalti
          npx cap add android
          npx cap copy

      - name: Generate debug APK
        run: |
          cd android
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: jogo-penalti-apk
          path: android/app/build/outputs/apk/debug/app-debug.apk
